<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Eat-Da-Burger!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
  <link rel="stylesheet" href="public/assets/css/burger_style.css" />
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  {{{ body }}}
</body>

</html>