<div class="container">
  <div class="jumbotron text-center">
    <img src="public/assets/images/hamburger.png" alt="Hamburger" width="250">
    <h1>Eat-Da-Burger!</h1>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-md-6 col-lg-5 text-left mb-3">
      <div class="card">
        <div class="card-header">
          <h4>Burgers</h4>
        </div>
        <div class="card-body">
          {{#each burgers}}
          {{#unless this.devoured}}
          {{> burgers/burger-block}}
          {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 text-right mb-3">
      <div class="card">
        <div class="card-header">
          <h4>Devoured</h4>
        </div>
        <div class="card-body">
          {{#each burgers}}
          {{#if this.devoured}}
          {{> burgers/burger-block}}
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <form>
        <div class="mb-2">
          <input id="burger-name" type="text" size="55" maxlength="50">
        </div>
        <div>
          <button type="submit" class="btn submit-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      Enter the name of a burger and submit to add it to the list
    </div>
  </div>
</div>

<script type="text/javascript" src="public/assets/js/index.js"></script>